body{
    font-family: 'Poppins';
    background: rgb(216 216 216);
}

.navbar{
    background-color: #fff !important;
    padding:20px;
   
}

.btn-outline-danger{
    background-color:black; 
    color: white !important;
    border:none;
    margin-left:16px;
}

a {
    text-decoration: none;
    color:white;
}

.nav-item{
    margin-left: 10px;
    font-weight: 300;
}

.nav-link.active{
    color:black;
    font-weight: 600;
}

.card-body p{
    font-weight: 300;
}

label{
    font-weight: 500;
    
}

